/*
 * Copyright (C) 2018 Technologic Systems
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include <dt-bindings/input/input.h>

/* Requires more CS GPIO and updated pinctrl? */
&ecspi3 {
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio4 12 0>, <&gpio4 10 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

        spifram: spi@1 {
                compatible = "atmel,at25", "cypress,fm25l16b";
                reg = <1>;
                spi-max-frequency = <20000000>;
                size = <0x800>;
                address-width = <16>;
                pagesize = <64>;
        };

};

&flexcan2 {
	status = "disabled";
};

&i2c3 {
	strtc: m41t00s@68 {
		compatible = "m41t00";
		reg = <0x68>;
	};
};

&snvs_rtc {
	status = "disabled";
};

&snvs_poweroff {
	status = "disabled";
};

&uart4 { /* Append support for TXEN to pinctrl */
	pinctrl-10 = <&pinctrl_8551txen>;
	fsl,uart-has-rtscts;
	fsl,uart-tx-enable-gpios = <&gpio1 19 GPIO_ACTIVE_HIGH>;
	linux,rs485-enabled-at-boot-time;
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
};

&pwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2>;
};

&pwm5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm5>;
};

&pwm6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm6>;
};

&iomuxc {
	pinctrl-names = "default";
	imx6ul-ts4100 {
		pinctrl_8551txen: ts8551txen {
			fsl,pins = <
				MX6UL_PAD_UART1_RTS_B__GPIO1_IO19  0x1b020
			>;
		};

		pinctrl_pwm1: ts8551pwm1 {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO08__PWM1_OUT  0x13020
			>;
		};
		pinctrl_pwm2: ts8551pwm2 {
			fsl,pins = <
				MX6UL_PAD_GPIO1_IO09__PWM2_OUT  0x13020
			>;
		};
		pinctrl_pwm5: ts8551pwm5 {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA18__PWM5_OUT  0x13020
			>;
		};
		pinctrl_pwm6: ts8551pwm6 {
			fsl,pins = <
				MX6UL_PAD_LCD_DATA19__PWM6_OUT  0x13020
			>;
		};
	};
};
